body {
  background-color: #F5F3F3;
}
.content {
  padding: 30px;
}

.movie, form {
  padding: .5rem;
  margin: 1rem 0;
  background: #fff;
  font-size: 1em;
  line-height: 1.3em;
  border-radius: 10px;
  font-weight: normal;
}
.movie{
  box-shadow: 0 0 0 4px #fff, 2px 2px 6px 3px rgba(10, 10, 0, 0.5);
}
.movie > .row {
  padding: 5px;
}

h2 {
  margin-bottom: 1px;
}

.movie-subject {
  font-weight: bold;
  font-size: 1.5em;
}

.fa {
  cursor: pointer;
  font-size: 1.3em;
  margin: -10px 0 0 0;
}

textarea {
  min-height: 7rem;
}
/* 
div.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  align-items: left
}

div.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

div.example button:hover {
  background: #0b7dda;
}

div.example::after {
  content: "";
  clear: both;
  display: table;
} */