<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#/"><span class="fa fa-home"></span> Halp Desk</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a class="nav-link" href="#/open">Home</a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link" href="#/open"><span class="fa fa-home"></span>Home</a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" href="#/star"><span class="fa fa-star"></span>Star <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid content" ng-controller="StarController">
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <h2 class="movie-section-header">Stared Movies</h2>
      <div class='movies'>
        <div class='movie' ng-repeat="movie in data.movies">
          <div class="row movie-heading">
            <div class="col-md-4"><h3> {{ movie.title }}</h3></div>
          </div> 
          <div class="row movie-body">
            <div class="col-md-8" >Genre:{{ movie.genre }}</div>
          </div> 
          <div class="row movie-footer">
            <div class="col-md-1"><br /><span class="movie-delete fa fa-trash-o" ng-click="deleteMovie(movie)"></span></div>
            <div class="col-md-2"><br /><span class="movie-reopen fa fa-star" ng-click="openMovie(movie)"></span></div>
            <div class="col">
              Rating
              <br />
              <div style="color:#3267bc">
              {{ movie.rating }}
              </div>
            </div>
            <div class="col">
              Actor
              <br  />
              <div style="color:#3267bc">
              {{ movie.actor }}
            </div>
            </div>
            <div class="col" >
              Actress
              <br  />
              <div style="color:#3267bc">
              {{movie.actress}}
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div> 
</div> 
