<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"href="#/"><span class="fa fa-film"></span>Movie Application</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#/open"><span class="fa fa-home"></span>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/star"><span class="fa fa-star"></span>Star</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" style="background-color:#292b2d">
        <input class="form-control mr-sm-2" type="text" placeholder="Search for combination" ng-model="searchText">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" ng-model="search">        
      </form>
    </div>
  </nav>
<div class="container-fluid content" ng-controller="OpenController">
  <div class="row">
    <div class="col-xs-12 col-lg-4">
    <h2>Submit a Movie</h2>
      <form novalidate name="submitMovieForm" class='submitMovieForm' ng-submit='submitMovie(movie)' style="box-shadow: 0 0 0 4px #fff, 2px 2px 6px 3px rgba(10, 10, 0, 0.5)">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="movie.title">
        </div>
        <div class="form-group">
          <label>Genre</label>
          <select class="form-control" ng-model="movie.genre">
              <option value="Horror">Horror</option>
              <option value="Thriller">Thriller</option>
              <option value="Romantic">Romantic</option>
              <option value="Historical">Historical</option>
              <option value="Absurdist">Absurdist</option>
              <option value="Action">Action</option>
              <option value="Comedy">Comedy</option>
              <option value="Fantasy">Fantasy</option>
              <option value="Drama">Drama</option>
              <option value="Adventure">Adventure</option>
              <option value="Crime">Crime</option>
              <option value="Mystery">Mystery</option>
              <option value="Paranoid">Paranoid</option>
              <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
          <label>Actor</label>
          <input type="text" class="form-control" ng-model="movie.actor"></textarea>
        </div>
        <div class="form-group">
          <label>Actress</label>
          <input type="text" class="form-control" ng-model="movie.actress"></input>
        </div>
        <div class="form-group">
          <label>Rating</label>
          <input type="number" step="0.1" class="form-control"  min="1" max="5" ng-model="movie.rating"></input>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>


<div class="col-xs-12 col-lg-8">
      <h2 class="movie-section-header">List of Movies</h2>
  <table class="table table-bordered table-striped">
    <thead>
          <tr>
            <td ng-click="sortBy('title')" style="color:#667fa5">
             <h3 class="fa fa-sort">Title </h3>
            </td>
            <td ng-click="sortBy('actor')" style="color:#667fa5">
                <h3 class="fa fa-sort"> Actor </h3>
            </td>
            <td ng-click="sortBy('actress')" style="color:#667fa5">
                <h3 class="fa fa-sort">Actress </h3>
            </td>
            <td ng-click="sortBy('rating')" style="color:#667fa5">
                <h3 class="fa fa-sort">Rating</h3>
              </td>
            <td ng-click="sortBy('genre')" style="color:#667fa5">
                <h3 class="fa fa-sort">Genre </h3>
                </td>
            <td style="color:#667fa5">
              Delete/Star
                </td>
          </tr>
    </thead>
        <tbody>
          <tr ng-repeat="movie in data.movies | filter:searchText| orderBy:sortField:reverseOrder|filter:search">
            <td ng-model="search.title">{{ movie.title }}</td>
            <td ng-model="search.actor">{{ movie.actor }}</td>
            <td ng-model="search.actress">{{ movie.actress }}</td>
            <td ng-model="search.rating">{{ movie.rating }}</td>
            <td ng-model="search.rating">{{ movie.genre }}</td>
            <td class="movie-delete fa fa-trash-o" ng-click="deleteMovie(movie)"></td> 
            <td class="movie-star fa fa-star" ng-click="starMovie(movie)"></td>
          </tr>
        </tbody>
    </table>
</div>
  </div> 
</div>

<footer style="background-color: #1A1818;color:white;padding:5px">
  <hr>
  <p>Posted by: Priyanka Shah</p>
  <p>Contact information: <a href="mailto:prishah1194@gmail.com">prishah1194@gmail.com</a>.</p>
  </footer>
