<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"href="#/"><span class="fa fa-film"></span>Movie Application</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#/open"><span class="fa fa-home"></span>Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#/star"><span class="fa fa-star"></span>Star<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" style="background-color:#292b2d">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" ng-model="searchText">
          </form>
        </div>
      </nav>
    
    
    <div class="container-fluid content" ng-controller="StatusController">
      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <h2 class="movie-section-header">Watched Movies</h2>
          <div class='movies'>
            <div class='movie' ng-repeat="movie in data.movies|filter:searchText">
              <div class="row movie-heading">
                <div class="col-md-4" ng-model="search.title"><h3> {{ movie.title }}</h3></div>
              </div> 
              <div class="row movie-body">
                <div class="col-md-8" ng-model="search.genre">Genre:{{ movie.genre }}</div>
              </div> 
              <div class="row movie-footer">
                <div class="col-md-1"><br /><span class="movie-delete fa fa-trash-o" ng-click="deleteMovie(movie)"></span></div>
                <div class="col-md-2"><br /><span class="movie-reopen fa fa-star" ng-click="openMovie(movie)"></span></div>
                <div class="col">
                  Rating
                  <br />
                  <div style="color:#3267bc">
                  {{ movie.rating }}
                  </div>
                </div>
                <div class="col" ng-model="search.actor">
                  Actor
                  <br  />
                  <div style="color:#3267bc">
                  {{ movie.actor }}
                </div>
                </div>
                <div class="col" ng-model="search.actress">
                  Actress
                  <br  />
                  <div style="color:#3267bc">
                  {{movie.actress}}
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div> 
    </div> 
    